body {
  box-sizing: border-box;
  margin: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: 200;
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 3px #000;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/1CD3fd8kHnE/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

.panel > * {
  margin: 0;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: transform 0.5s;
}

.panel > *:nth-child(1) {
  transform: translateY(-100%);
}
.panel > *:nth-child(3) {
  transform: translateY(100%);
}
.panel.open-active > *:nth-child(1),
.panel.open-active > *:nth-child(3) {
  transform: translateY(0);
}


.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.panel p:nth-child(2){
  font-size: 4em;
}
