body {
  text-align: center;
  width: 100%;
  height: 720px;
  background: linear-gradient(to bottom right, blue , pink);
}

.clock {
  position: absolute;
  left: 40%;
  top: 15%;
  border-radius: 50%;
  border: 10px solid white;
  width: 20%;
  height: 37%;
}
