html {
  box-sizing: border-box;
}

body {
  padding: 0;
  display: flex;
  background:#7A419B;
  min-height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.player {
  position: relative;
  max-width: 750px;
  border:5px solid rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}
